<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<test name="Validating Navigation Bar">
		<classes>
			<class name="Academy.ValidateNavigationBar" />
		</classes>
	</test>
	<test name="Validating title in the page">
		<classes>
			<class name="Academy.ValidateTitle" />
		</classes>
	</test>
	<test name="Validating username">
		<classes>
			<class name="Academy.HomePage" />
		</classes>
	</test>
</suite> <!-- Suite -->
